@charset 'UTF-8';

header .header_menu .button:hover {
  transition: 0.3s;
}

header .header_menu .move p {
  border-bottom: 1px solid #000;
}

/*------------------ header effect ------------------*/
.button.fast {
  --duration: 0.32s;
}

.button {
  --text: #000;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --font-shadow: var(--font-size);
  line-height: var(--font-size);
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}

.button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}

.button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}

.button div span:nth-child(1) {
  transition-delay: 0.05s;
}

.button div span:nth-child(2) {
  transition-delay: 0.1s;
}

.button div span:nth-child(3) {
  transition-delay: 0.15s;
}

.button div span:nth-child(4) {
  transition-delay: 0.2s;
}

.button div span:nth-child(5) {
  transition-delay: 0.25s;
}

.button div span:nth-child(6) {
  transition-delay: 0.3s;
}

.button div span:nth-child(7) {
  transition-delay: 0.35s;
}

.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}

.button:hover span {
  --m: calc(var(--font-size) * -1);
}